{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ partner.id }}" name="id">
	<label for="name">Name</label>
	<input type="text" value="{{ partner.name }}" name="name" id="name">

    <label for="address">Addresse</label>
	<input type="text" value="{{ partner.address }}" name="address" id="address">

    <label for="url">Site web</label>
	<input type="url" value="{{ partner.url }}" name="url" id="url">

	<button>Submit</button>
</form>
