    <h2>Nos partenaires</h2>
    <p>L'Indien vous recommande :</p>

    <div class="partners">

    <ul>
        {% for partner in partners %}
            <li><img src="https://nzentrepreneur.co.nz/wp-content/uploads/2022/08/Partner-Logo-placeholder.png" alt="partenaire"/></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>

    </div>

    
