{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Partners</h1>
    <ul>
        {% for partner in partners %}
            <li><a href="/partners/show?id={{ partner.id }}">{{ partner.id }}. {{ partner.name }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/partners/add">Ajouter</a>
{% endblock %}
