
.partners h2
{
    text-align: center;
    font-family: var(--title-font);
}
.partners ul{
    display: flex;
    gap : 1%;
    overflow-x: scroll;
    padding: var(--spacing-s);
    scroll-snap-type: x mandatory;
    
}
.partners p{
    font-family: var(--text-font);
}
.partners a{
    color : black;
}
.partners img{
    width: clamp(200px, 300px, 400px);
    height : clamp(200px, 200px, 300px)
}
.partners ul li{
    list-style-type: none;
    width: 300px;
    height : 200px;
    border:1px solid black;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
    margin-left: var(--spacing-s);
    flex: 1 0 250px;
    margin-left: var(--spacing-s);
    scroll-snap-align: start;
}